<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <div class="Pagewrap">

    <div>
      <div class="Ptitle">
        SE Board
      </div>
      <div class="Bblock"></div>
    </div>


    <div>
      <div class="Wtitle">
          <div *ngIf="posts$ | async as res">
              <div *ngFor="let post of res.data">
                {{ post.title }} <!--posting id 가 나온다 -->
              </div> <!--resdata-->
            </div>
        <!--<form [formGroup]="readform">

       </form>-->
      </div>
      <div class="Winformation">
          <div *ngIf="posts$ | async as res">
              <div *ngFor="let post of res.data">
                {{ post.pWriter }} <!--posting id 가 나온다 -->
                {{ post.pDate }}
              </div>
      </div>
    </div>

    <div>
      <hr>
      <div class="wHeight">
        <div class="wWrite">
            <div *ngIf="posts$ | async as res">
                <div *ngFor="let post of res.data">
                  {{ post.pContent }}
                </div>
        </div>
      </div>
      <hr>
    </div>


    <div class="Wbutton">
      <input type="button" name="edit" value="수정">
      <input type="button" name="delete" value="삭제">
    </div>

<button (click)='navigate()'>이동</button>
  </div>
</div>
<!--
  <div class = "containerX">
      <div class = "container">
          <div [fx-flex]="calc3Cols" class = "col3">
            flex: 3 3 calc(15em + 20px); </div>
            <div></div>
          </div>

  </div>
  -->
<!--
<form [formGroup]="readFormGroup">
    <input formControlName = "제목">
</form>-->

<div *ngIf="posts$ | async as res">
  <div *ngFor="let post of res.data">
    {{ post.postingID }} <!--posting id 가 나온다 -->
  </div> <!--resdata-->
</div>
<!--{
  result: 'success',
  msg: '정상작동',
  data: [{postid: ''}]
}-->
