<div class="container">
  <button (clicK)="write()">글쓰기</button>
</div>
<div class="container_top">
  <div class="item_num">번호</div>
  <div class="item_title">제목</div>
  <div class="item_writer">글쓴이</div>
  <div class="item_date">날짜</div>
</div>
<div *ngIf="posts$ | async as res">
  <div class="container" *ngFor="let post of res.data">
    <div class="item_num">{{post.postingID}}</div>
    <div class="item_title">{{post.title}}</div>
    <div class="item_writer">{{post.pWriter}}</div>
    <div class="item_date">{{post.pDate}}</div>
  </div>
</div>
